@include component(Rtable) {
	display: flex;
	flex-wrap: wrap;
	@include rem-spacing (margin, 0, 0, 20);
	@include rem-spacing (padding, 0);

	@include component(Rtable-cell) {
		box-sizing: border-box;
		flex-grow: 1;
		width: 100%;  // Default to full width
		@include rem-spacing (padding, 12, 16);
		overflow: hidden; // Or flex might break
		list-style: none;
		border: 1px solid $theme-grey;

		@include option(head) {
			background-color: $theme-primary;
			color: $theme-white;
			font-weight: $font-weight-bold;
			//text-align: left;
			border-color: $theme-primary;

			@media (max-width: 991px){
				display: none;
			}
		}

		@include component(body) {
			display: flex;
			align-items: center;

			@include component(header) {
				color: $theme-primary;
				font-weight: $font-weight-bold;
				@include rem-spacing (margin-right, 10);
				display: none;
				line-height: 2;

				@media (max-width: 991px){
					display: inline-block;
					width: 50%;
				}
			}

			@include component(content) {
				line-height: 2;

				@media (max-width: 991px){
					display: inline-block;
					width: 50%;
				}
			}
		}		
	}

	@media (max-width: 991px){
		@include option(collapse) {
			display: block;

			@include component(Rtable-cell) {
				width: 100% !important;
			}
		}
	}

	/* Table column sizing
	================================== */
	@include option(2cols) {

		@include component(Rtable-cell) {
			width: 50%;

			@media (max-width: 991px){
				&:nth-child(2n) {
					@include rem-spacing (margin-bottom, 20);
				}
			}
		}
	}

	@include option(3cols) {

		@include component(Rtable-cell) {
			width: 33.33%;

			@media (max-width: 991px){
				&:nth-child(3n) {
					@include rem-spacing (margin-bottom, 20);
				}
			}
		}
	}

	@include option(4cols) {

		@include component(Rtable-cell) {
			width: 25%;

			@media (max-width: 991px){
				&:nth-child(4n) {
					@include rem-spacing (margin-bottom, 20);
				}
			}
		}
	}

	@include option(5cols) {

		@include component(Rtable-cell) {
			width: 20%;

			@media (max-width: 991px){
				&:nth-child(5n) {
					@include rem-spacing (margin-bottom, 20);
				}
			}
		}
	}

	@include option(6cols) {

		@include component(Rtable-cell) {
			width: 16.6%;

			@media (max-width: 991px){
				&:nth-child(6n) {
					@include rem-spacing (margin-bottom, 20);
				}
			}
		}
	}

	@include option(7cols) {

		@include component(Rtable-cell) {
			width: 14.28%;

			@media (max-width: 991px){
				&:nth-child(7n) {
					@include rem-spacing (margin-bottom, 20);
				}
			}
		}
	}
}

@include component(table-responsive) {
    display: inline-block;
    width: 100%;
    overflow-x: auto;
}

@include component(table) {
	width: 100%;
    max-width: 100%;
    @include rem-spacing (margin-bottom, 20);
    border-collapse: collapse;
    border-spacing: 2px;

    th, td{
    	@include rem-spacing (padding, 12);
	    vertical-align: top;
	    //border-top: 1px solid $theme-border;
	    text-align: left;
    }

    @include option(bordered) {
    	th, td{
    		border: 1px solid $theme-border;
    	}
    }

    @include option(hover) {
    	tr{
    		&:hover{
    			background-color: rgba(0,0,0,.075);
    		}
    	}
    }

    @include option(schedule-table) {
    	tr:not(:first-child) {
    		border-bottom: 1px solid;
    	}

    	th {
    		background-color: $theme-primary;
			color: $theme-white;
			font-weight: $font-weight-bold;
			@include fontSize($font-size-h6);
            font-weight: $font-weight-bold;
            text-transform: uppercase;

            @media (max-width: 767px) {
            	@include fontSize($font-size-medium);
            }
    	}

    	td {
    		@include fontSize($font-size-h6);
    		color: $theme-white;
    		//border-bottom: 1px solid $theme-white;

    		@media (max-width: 767px) {
            	@include fontSize($font-size-medium);
            }
    	}

    	&.athletics {
    		tr {
    			border-color: $theme-running;
    		}
    		th {
    			background-color: $theme-running;
    		}
    	}

    	&.tennis {
    		tr {
    			border-color: $theme-white;
    		}
    		th {
    			background-color: rgba($theme-tennis, 0.84);
    		}
    	}

    	&.football {
    		tr {
    			border-color: $theme-football;
    		}
    		th {
    			background-color: $theme-football;
    		}
    	}

    	&.rugby {
    		tr {
    			border-color: $theme-black;
    		}
    		th {
    			background-color: $theme-black;
    		}
    	}

    	&.eupepsia {
    		tr {
    			border-color: $theme-eupepsia;
    		}
    		th {
    			background-color: $theme-eupepsia;
    		}
    	}
    }
}